@charset "UTF-8";

body {
    background-color: rgba(0, 255, 255, 0.452);
}

h1 {
    color: rgb(0, 102, 255);
}

h1#principal {
    text-align: center;
    color: white;
}

h2 {
    color: rgb(0, 4, 255);
}

.basico {
    color: green; 
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 255, 0, 0.397);
}